/*=================================================================================================
 | Fundamental
==================================================================================================*/
.ots-clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
/*=================================================================================================
 | Week grid styling - week grid clickability
==================================================================================================*/
#weekgrid table > tbody > tr.clickable,
#weekgrid table > tbody > tr.clickable * {
  cursor: pointer;
}
#weekgrid table > tbody > tr.non-clickable > td:nth-child(-n+2) {
  color: gray;
}
#weekgrid table > tbody > tr.non-clickable > td:nth-child(n+3) {
  color: #4D4D4D;
}
/*=================================================================================================
 | Header styling and What's New dialog
==================================================================================================*/
#ots-header {
  float: right;
  font-size: 0.7em;
  line-height: 25px;
  margin-left: 20px;
  margin-right: 20px;
}
#ots-header > span.links {
  font-size: 0.8em;
  margin-left: 8px;
  color: black;
}
#ots-header > span.links > a {
  /* This is readable across all themes */
  font-weight: bold;
  color: #000099;
}
@media screen and (max-width: 1400px) {
  #ots-header > #modded-with {
    display: none;
  }
}
.whats-new-dialog {
  padding: 10px;
}
.whats-new-dialog a {
  font-weight: bold;
}
.whats-new-dialog ul li.no-bullet {
  list-style-type: none;
  margin-left: -18px;
}
.whats-new-dialog details summary {
  outline: none;
}
.whats-new-dialog details summary:hover {
  cursor: pointer;
}
.whats-new-dialog > a {
  color: #000099;
}
.whats-new-dialog .dismiss {
  height: 20px;
  margin-top: 20px;
}
.whats-new-dialog .dismiss a {
  float: right;
  clear: both;
  color: black;
}
.whats-new-dialog .dismiss a:hover {
  font-size: 1.1em;
}
/*=================================================================================================
 | Favourites panel styling
==================================================================================================*/
#favGrid ul > li.favourites-filter {
  float: right;
  display: inline-block;
  position: relative;
}
/*=================================================================================================
 | Find incomplete day button
==================================================================================================*/
#find-incomplete-day {
  margin-left: 3px;
}
/*=================================================================================================
 | Incomplete day highlighting - general styling, required below
==================================================================================================*/
/*=================================================================================================
 | Week grid styling - Incomplete day highlighting
==================================================================================================*/
#weekgrid table > tbody > tr.blank > td:nth-child(n+3) {
  background-color: #f3737f !important;
}
#weekgrid table > tbody > tr.partially-complete > td:nth-child(n+3) {
  background-color: #f3aab1 !important;
}
#weekgrid table > tbody > tr.complete > td:nth-child(n+3) {
  background-color: white !important;
}
#weekgrid table > tbody > tr.exceeded > td:nth-child(n+3) {
  background-color: #eeffe8 !important;
}
#weekgrid table > tbody > tr.public-holiday > td:nth-child(n+3) {
  background-color: #ffc455 !important;
}
/*=================================================================================================
 | Calendar styling (applies when Incomplete Day Highlighting is enabled).
==================================================================================================*/
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td {
  /* Today */
  /* Current day */
  /* Current week / day */
  /* NB: calendarWeekRow is inconsistently used to indicate the current week. Sometimes t-state-selected exists without calendarWeekRow */
  /* Disable 'page flip' glyph */
  /* Hover state */
  /* Blank days */
  /* Partially complete days */
  /* 'Exceeded' days */
  /* Public holidays */
}
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.today {
  /* Disable green border */
}
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.today,
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.today.t-state-hover.t-other-month {
  font-weight: bold;
  font-size: 15px;
  /* Disable positioning override OT applies to accommodate green border (which we disable below) */
  position: static;
}
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.today > a {
  box-shadow: none;
}
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.t-state-selected {
  font-weight: bold;
}
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.t-state-selected,
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.t-state-selected.today {
  border: none !important;
  /* Preferring this to border because it doesn't occupy space */
  -webkit-box-shadow: inset 0 0 0 2px #a9dcf5;
  box-shadow: inset 0 0 0 2px #a9dcf5;
}
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.calendarWeekRow,
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.t-state-selected {
  /* Reset current week/day highlighting for M-F to be white, so that it doesn't become blue when selected. */
  /* Ditto for S-S, except here we reset to grey */
}
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.calendarWeekRow:nth-child(-n+5),
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.t-state-selected:nth-child(-n+5) {
  background-color: white !important;
}
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.calendarWeekRow:nth-child(n+6),
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.t-state-selected:nth-child(n+6) {
  background-color: #ededed !important;
}
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td > a.t-link::after {
  content: none;
}
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.t-state-hover {
  /* OneTime applies a blue background when hovering over days. Let's remove it and add a blue border instead. */
  background-color: white !important;
  border: none !important;
  /* Preferring this to border because it doesn't occupy space */
  -webkit-box-shadow: inset 0 0 0 2px #a9dcf5;
  box-shadow: inset 0 0 0 2px #a9dcf5;
}
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.blank,
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.blank.t-state-selected,
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.blank.t-state-hover {
  background-color: #f3737f !important;
}
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.partially-complete,
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.partially-complete.t-state-selected,
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.partially-complete.t-state-hover {
  background-color: #f3aab1 !important;
}
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.exceeded,
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.exceeded.t-state-selected,
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.exceeded.t-state-hover {
  background-color: #eeffe8 !important;
}
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.public-holiday,
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.public-holiday.t-state-selected,
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.public-holiday.t-state-hover {
  /* Apply a background to the outer td */
  background-color: #ffc455 !important;
}
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.public-holiday > a.t-action-link,
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.public-holiday.t-state-selected > a.t-action-link,
html[data-incomplete-day-highlighting-enabled="true"] #cal table > tbody > tr > td.public-holiday.t-state-hover > a.t-action-link {
  /* And remove the background OneTime applies to the inner anchor */
  background: none;
}
/*=================================================================================================
 | Analytics
==================================================================================================*/
#ots-analytics {
  display: none;
}
