#weekgrid table > tbody > tr.clickable,
#weekgrid table > tbody > tr.clickable * {
    cursor: pointer;
}

#weekgrid table > tbody > tr.non-clickable,
#weekgrid table > tbody > tr.non-clickable * {
	color: gray;
}


#cal table > tbody > tr > td.today {
    border: 2px solid green;
    font-weight: bold;
}

#cal table > tbody > tr > td.incomplete {
	background-color: #F3737F;
}

#favGrid ul > li.favourites-filter {
    float: right;
    display: inline-block;
    position: relative;
}


#ots-header {
	float: right;
	font-size: 0.7em;
	line-height: 25px;
	margin-right: 20px;
}

#ots-header > a {
	font-weight: bold;
}

@media screen and (max-width: 1300px) {
	#ots-header {
		display: none;
	}
}