#weekgrid table > tbody > tr.clickable,
#weekgrid table > tbody > tr.clickable * {
    cursor: pointer;
}

#weekgrid table > tbody > tr.non-clickable,
#weekgrid table > tbody > tr.non-clickable * {
	color: gray;
}


#cal table > tbody > tr > td.today {
    border: 2px solid green;
    font-weight: bold;
}

#favGrid ul > li.favourites-filter {
    float: right;
    display: inline-block;
    position: relative;
}