#weekgrid table > tbody > tr,
#weekgrid table > tbody > tr * {
    cursor: pointer;
}

#cal table > tbody > tr > td.today {
    border: 1px solid red;
    font-weight: bold;
}

#favGrid ul > li.favourites-filter {
    float: right;
    display: inline-block;
    position: relative;
}